<p>Test SSL Certificate</p>
<div class="o-layout o-layout--center u-padding-bottom">
   <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
	<input id="testSSL" type="button" value="Test SSL Certificate" />
   </div>
</div>

<script language="Javascript">
  $("#testSSL").on('click', function() {
    console.log('clicked');
    $.ajax({url: "https://packetfence.org"}).done(function(){
      console.log('success');
    }).fail(
      function(){console.log("Failed")}
    )
  });

</script>
