<!--Body container that sets layout and inner content-->

	<a name="top"></a>
    
	<body>
		<div id="wrapper">
			<div id="content" class="auth ">
				<div id="inner-content">
                
<!--Top navigation menu bar-->
                
                	<nav>
                        <ul id="nav">
                            <li><a href="/ssl_inspection/ios">iOS</a></li>
                            
                            <li><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li><a href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li><a href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li><a class="here" href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li><a href="/ssl_inspection/opera">Opera</a></li>
                            
                            <li><a href="/ssl_inspection/unsupported">Unsupported</a></li> 
                        </ul>
                    </nav>
                    
                    <br />
                    <hr />
					
                    <div id="guide">
						<p>
							This network employs a technology called captive portal which allows the administrator(s) to restrict network access to trusted users. In order to prevent certificate security warnings when accessing this portal, the network's filtering unit must issue to your computer or mobile device a file called an SSL certificate.
						</p>
					
						<p>
                        
							This guide will help you install the SSL filtering certificate for browsers based on the Mozilla platform, such as Firefox.
						
                        </p>
                        
                        <h3> 
                        	**Please Note**
                        </h3>
                        
                        <p>
                        	<strong>
								Firefox cannot get ssl updates from our servers. If you start having web page connection issues again, you will need to come back to this page and redo steps to get the newest certificate.  
							</strong>
                        </p>

						<h3 class="number"><span>Step </span>1</h3>

						<p>
							First, click the <i>Download Certificate</i> button below; this will download the certificate file to a temporary location on your computer.
						</p>

						<div class="buttons">
							<p>
                    			<a href="WebbCity-Edge.cer" id="download-button" class="btn buttons">Download Certificate</a>
                			</p>

						</div>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC1.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>
                
						<h3 class="number"><span>Step </span>2</h3>

						<p>
							In your firefox browser click on the "menu" botton at the top right of your browser and select "Options".
						</p>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC02.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>

						<h3 class="number"><span>Step </span>3</h3>
                        
                        <p>
                        	In the Options page click "Advanced" on the lefthand side. Under Requests make sure "Select One automatically" is selected and click the button "View Certificates" at the bottom.
                        </p>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC03.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>
                        
                        <h3 class="number"><span>Step </span>4</h3>
                        
                        <p>
                        	In the Certificate Manager window click on the "Authorities" Tab and click on "Import".
                        </p>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC04.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>
                        
                        <h3 class="number"><span>Step </span>5</h3>
                        
                        <p>
                        	Brows for the "WebbCity-Edge.cer" file you downloaded earlier and select it.
                        </p>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC05.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>
                        
                        <h3 class="number"><span>Step </span>6</h3>
                        
                        <p>
                        	On the next windows make sure to checkmark that all options and click "OK".
                        </p>
                        
                        <div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/firefox/SC06.png" alt="Firefox CA trust prompt" width="550">
							</div></div>
						</div>
                        
                        <h3 class="number"><span>Step </span>7</h3>
                        
                        <p>
							You're done! You may continue browsing as usual; in most cases, you will not notice anything different after the certificate is installed.
						</p>
                        
					</div>
    				
                    <br />

	<a href='#top'>Back to Top</a>
                </div>
			</div>
		</div>
	</body>
