<!--Top navigation menu bar-->
                
                 	<nav>
                        <ul id="nav">
                            <li><a href="/ssl_inspection/ios">iOS</a></li>
                            
                            <li><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li><a href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li><a class="here" href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li><a href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li><a href="/ssl_inspection/opera">Opera</a></li>
                            
                            <li><a href="/ssl_inspection/unsupported">Unsupported</a></li> 
                        </ul>
                    </nav>
