<!--Body container that sets layout and inner content-->

    <div class="u-padding">

<!--Top navigation menu bar-->
                
                	<nav>
                        <ul class="o-list-inline o-layout--center caption">
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/opera">Opera</a></li>
                            
                            <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/unsupported">Unsupported</a></li> 
                        </ul>
                    </nav>

						<p>
							[% i18n("This network employs a technology called captive portal which allows the administrator(s) to restrict network access to trusted users. In order to prevent certificate security warnings when accessing this portal, the network's filtering unit must issue to your computer or mobile device a file called an SSL certificate.") %]
						</p>
						
					    <div class="o-media o-media--notice u-padding-small u-margin-vertical">
                            <div class="o-media__img">[% flashIcon(level='notice', size='tiny') %]</div>
                            <p class="o-media__body">[% i18n('If you have a district owned iPad, please visit the <a href="http://ipad.wcr7.org/">iPad Enrollment Portal</a> instead of the Certificate Download option below first.') | none %]</p>
                        </div>
						
                        <p>
[% i18n("This guide will help you install the SSL filtering certificate for Apple mobile devices, including the iPad, iPhone, and iPod touch. This guide is <i>not</i> primarily for district owned iPads.") | none %]
                        </p>

						<h3 class="number"><span>[% i18n("Step ") %]</span>1</h3>

						<p>
							[% i18n("First, click the <i>Download Certificate</i> button below; this will download the certificate file to a temporary location on your device.") | none %]
						</p>

                        <div class="o-layout o-layout--center u-padding-bottom">
                            <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
        						[% i18n('<a href="WebbCity-Edge.cer" class="c-btn c-btn--secondary c-btn--ghost u-1/1">Download Certificate</a>') | none %]
    						</div>
						</div>

        				<h3 class="number"><span>[% i18n("Step ") %]</span>2</h3>

						<div class="o-layout o-layout--center u-padding-bottom">
                            <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
							    <img src="./style/img/portal-ssl-guides/ios-01-not-trusted.png" alt="iOS certificate trust prompt">
						    </div>
						</div>

						<p>
							[% i18n("A screen will appear called <i>Install Profile</i>. Tap the <i>Install</i> button in the top-right corner of the screen.") | none %]
						</p>

						<p>
							[% i18n("(Note: These images show iOS 9 running on an iPad; if you have a different version of iOS, the layout and buttons may be different — but the words should be the same.) Also, you maybe presented with a warning about the unverified authenticity of the profile. You may read over this if you like; otherwise, tap <i>Install</i> again (in the top-right corner).") | none %]
						</p>

						<h3 class="number"><span>[% i18n("Step ") %]</span>3</h3>

						<div class="o-layout o-layout--center u-padding-bottom">
                            <div class="o-layout__item u-1/1 u-2/3@tablet u-4/5@desktop">
								<img src="./style/img/portal-ssl-guides/ios-03-passcode.png" alt="iOS passcode prompt">
							</div>
						</div>

						<p>
							[% i18n("If you have a passcode set, you may be required to enter it. If you don't have one set, you may be prompted to create one, depending on your device configuration.") %]
						</p>

						<h3 class="number"><span>[% i18n("Step ") %]</span>4</h3>

						<div class="o-layout o-layout--center u-padding-bottom">
                            <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
								<img src="./style/img/portal-ssl-guides/ios-04-trusted.png" alt="iOS trust prompt">
							</div>
						</div>

						<p>
							[% i18n("You will see a confirmation that the profile has been installed, and that the certificate is <i>Verified</i>. Simply tap the <i>Done</i> button in the top-right corner.") | none %]
						</p>

						<h3 class="number"><span>[% i18n("Step ") %]</span>5</h3>

						<p>
							[% i18n("You're done! You may close or switch away from the Settings application and continue browsing as usual; in most cases, you will not notice anything different after the certificate is installed.") %]
						</p>

			</div>

[% INCLUDE ssl_inspection/common.html %]
