<!--Top navigation menu bar-->

<nav>
    <ul class="o-list-inline o-layout--center caption">
        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/ios">iOS</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/android">Android</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/osx">macOS</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/windows">Windows</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/chrome">Chrome OS</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/firefox">Firefox</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/opera">Opera</a></li>

        <li class="o-list-inline__item u-padding-horizontal-tiny"><a href="/ssl_inspection/other">[% i18n('Other') %]</a></li>
    </ul>
</nav>

