<!--Body container that sets layout and inner content-->

    <a name="top"></a>
    
	<body>
		<div id="wrapper">
			<div id="content" class="auth ">
				<div id="inner-content">


<!--Top navigation menu bar-->

                	<nav>
                        <ul id="nav">
                        	<li><a href="/ssl_inspection/ios">iOS</a></li>
                            
                            <li><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li><a href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li><a href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li><a href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li><a class="here" href="/ssl_inspection/opera">Opera</a></li>
                            
                            <li><a href="/ssl_inspection/unsupported">Unsupported</a></li> 
                        </ul>
                    </nav>

					
                    <div id="guide">
						<p>
							This network employs a technology called captive portal which allows the administrator(s) to restrict network access to trusted users. In order to prevent certificate security warnings when accessing this portal, the network's filtering unit must issue to your computer or mobile device a file called an SSL certificate.
						</p>

						<p>
                    		<strong>
								This guide will help you install the SSL filtering certificate for the Opera browser.
							</strong>
						</p>
					
                    	<p>
                    		<strong>
        						<font color="red"><u>Note:</u></font> This guide is for Opera version 12 and below. Newer versions of Opera will use your computer system's certificate or keychain manager instead of your browser's local certificate manager. If you have Opera version 15 or above, please download either the <a href="../ssl_inspection/osx">Mac OS X</a> or <a href="../ssl_inspection/windows">Windows</a> based certificate, or any of the other platforms, depending on your system.
        					</strong>
						</p>
		
        				<h3 class="number"><span>Step </span>1</h3>

						<p>
							First, click the <i>Download Certificate</i> button below; this will download the certificate file to a temporary location on your computer.
						</p>

						<div class="buttons">
							<p>
                   				<a href="WebbCity-Edge.cer" id="download-button" class="btn buttons">Download Certificate</a>
                			</p>

						</div>

						<h3 class="number"><span>Step </span>2</h3>

						<div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/opera-01-install-ca.png" alt="Opera CA install prompt">
							</div></div>
						</div>

						<p>
							Next, a dialogue will appear, asking if you would like to install the certificate authority. Click <i>Install</i>.
						</p>

						<p>
							(Note: These images show Opera on Mac OS X. If your computer runs Windows or Linux, the buttons may look different - but the words should be the same.)
						</p>

						<h3 class="number"><span>Step </span>3</h3>

						<div class="guide-image">
							<div><div>
								<img src="./style/img/portal-ssl-guides/opera-02-trust-issuer.png" alt="Opera issuer trust prompt">
							</div></div>
						</div>

						<p>
							After clicking <i>Install</i>, another dialogue will appear, asking if you are <i>sure you want to trust this issuer</i>. Click <i>OK</i> here.
						</p>
        
        				<h3 class="number"><span>Step </span>4</h3>

						<p>
							You're done! You may continue browsing as usual; in most cases, you will not notice anything different after the certificate is installed.
						</p>
					</div>
                
                    <br />

	<a href='#top'>Back to Top</a>

                </div>
			</div>
		</div>
[% INCLUDE ssl_inspection/common.html %]
	</body>
