
<!--Body container that sets layout and inner content-->
    
    <a name="top"></a>
    
	<body>
		<div id="wrapper">
			<div id="content" class="auth ">
				<div id="inner-content">

<!--Top navigation menu bar-->

                	<nav>
                        <ul id="nav">
                        	<li><a href="/ssl_inspection/ios">iOS</a></li>
                            
                            <li><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li><a class="here" href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li><a href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li><a href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li><a href="/ssl_inspection/opera">Opera</a></li>
                            
                            <li><a href="/ssl_inspection/unsupported">Unsupported</a></li> 
                        </ul>
                    </nav>
                    
                    <br />
                                       
                    <hr />
                    
                    <div id="guide">
                    
                        <p>
                            This network employs a technology called captive portal which allows the administrator(s) to restrict network access to trusted users. In order to prevent certificate security warnings when accessing this portal, the network's filtering unit must issue to your computer or mobile device a file called an SSL certificate.
                        </p>

                        <p>
                        	<strong>
                            	This guide will help you install the SSL filtering certificate for Mac-based browsers which use the operating system's built-in Keychain facility — this includes Safari and Chrome. This guide is not primarily for district owned Mac OSX computers.
                        	</strong>
						</p>
                
                        <h3 class="number"><span>Step </span>1</h3>
                
                        <p>
                            First, click the <i>Download Certificate</i> button below; this will download the certificate file to your computer.
                        </p>
                
                        <div class="buttons">
                            <p>
                                <a href="WebbCity-Edge.cer" id="download-button" class="btn buttons">Download Certificate</a>
                            </p>
                        </div>
                        
                        <h3 class="number"><span>Step </span>2</h3>
                        
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx-01-downloads.png" alt="OS X Downloads icon" width=531 height="450">
                            </div></div>
                        </div>
                        
                        <p>
                            When the certificate finishes downloading, it will appear in your default Downloads folder. Usually, this can be accessed via the Dock near the Trash icon, or, depending on your browser, it may appear in a dedicated downloads window. Locate the file and click to open it. 
                        </p>
                        
                        <p>
                            (Note: You may not see exactly the same thing if you are using another browser or a different version of OS X; however, the general process and wording should be the same.)
                        </p>
                        
                        <h3 class="number"><span>Step </span>3</h3>
                        
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx-04-system-access.png" alt="OS X Keychain Access prompt" width=534 height=299>
                            </div></div>
                        </div>
                        
                        <p>
                            Opening the file will launch the Keychain Access application; here, you maybe asked whether to add the certifitcate to the login keychain or the System keychain. It is preferred if the certificate is added to the 'System' keychain in-case there are other users who might potentially login. Then click <i>Add</i>.
                        </p>

                        <h3 class="number"><span>Step </span>4</h3>
                        
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx-05-type-password-2.png" alt="OS X Keychain Access prompt" width=443 height=237>
                            </div></div>
                        </div>
                        
                        <p>
                            Next, you might be prompted to enter in your login information to make the change. After entering your login information, click <i>Update Settings</i>.
                        </p>
                        
                        <h3 class="number"><span>Step </span>5</h3>
                        
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx-02-keychain-access.png" alt="OS X Keychain Access prompt" width=535 height=327>
                            </div></div>
                        </div>
                        
                        <p>
                            Here, you will be asked whether to always trust Securly certificates. Click <i>Always Trust</i>.
                        </p>
                        
                        <h3 class="number"><span>Step </span>6</h3>
                        
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx-03-type-password.png" alt="OS X password prompt" width=442 height=238>
                            </div></div>
                        </div>
                        
                        <p>
                            Next, you will be prompted to enter the user name and password you use to log on to the computer; do so, and click <i>Modify Keychain</i>.
                        </p>
                        
                        <h3 class="number"><span>Step </span>7</h3>
                        <p>
                            You're done! After entering your password, you can close Keychain Access and continue browsing as usual; in most cases, you will not notice anything different after the certificate is installed.
                        </p>
                        
                        <h3> ***Note*** </h3>
                        <p>
                        	If you did not see the prompts mentioned above you will need to manually "Trust" the newly installed certificate.
                        </p>
                        <h3 class="number"><span>Step </span>A</h3>
                        <p>
                        	Open up Keychain Access. Finder > Applications > Utilities > Keychain Access
                        </p>
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/Applications-Utilities.png" alt="Applications-Utilities" width=773 height=439>
                            </div></div>
                         </div>
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/Utilities-KeychainAccess.png" alt="Utilities-KeychainAccess" width=772 height=434>
                            </div></div>
                         </div>  
                         <h3 class="number"><span>Step </span>B</h3>   
                            
                        <p>
                        	Make sure "System" selcted in the left column and then Double click on "Fireware HTTPS Proxy...."
                        </p>
                            
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/KeychainAccess-Fireware.png" alt="KeychainAccess-Fireware" width=879 height=460>
                            </div></div>
                        </div> 
                         <h3 class="number"><span>Step </span>C</h3>
                            
                         <p>
                         	Make sure "Trust" is expanded and select the dropdown next to "When using this certificate:" and change it to "Always Trust"
                         </p>
                         <p>
                         	You may now close the window.
                         </p>
                            
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/Fireware-NotTrusted.png" alt="Fireware-NotTrusted" width=514 height=433>
                            </div></div>
                        </div>
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/Fireware-AlwaysTrust.png" alt="Fireware-AlwaysTrust" width=512 height=435>
                            </div></div>
                        </div>
                        <h3 class="number"><span>Step </span>D</h3>
                            
                        <p>
                        	You should now see a blue "+" right next to the certificate.
                        </p>
                            
                        <div class="guide-image">
                            <div><div>
                                <img src="./style/img/portal-ssl-guides/osx/Fireware-Trusted.png" alt="Fireware-Trusted" width=874 height=457>
                            </div></div>
                        </div>
                        <h3 class="number"><span>Step </span>E</h3>
                          
                        <p>
                            You're done! You can close Keychain Access and continue browsing as usual; in most cases, you will not notice anything different after the certificate is installed.
                        </p>
                            
                    </div>
                    
                    <br />

	<a href='#top'>Back to Top</a>
                </div>
			</div>
		</div>
	</body>
