<!--Body container that sets layout and inner content-->

	<a name="top"></a>
	
    <body>
		<div id="wrapper">
			<div id="content" class="auth ">
				<div id="inner-content">
                                                
<!--Top navigation menu bar-->

                	<nav>
                        <ul id="nav">
                            <li><a href="/ssl_inspection/ios">iOS</a></li>
                            
        		    <li><a href="/ssl_inspection/android">Android</a></li>
                            
                            <li><a href="/ssl_inspection/osx">Mac OSX</a></li>
                            
                            <li><a href="/ssl_inspection/windows">Windows</a></li>
                            
                            <li><a href="/ssl_inspection/chrome">Chrome OS</a></li>
                            
                            <li><a href="/ssl_inspection/firefox">Firefox</a></li>
                            
                            <li><a href="/ssl_inspection/opera">Opera</a></li>
                            
			    <li><a class="here" href="/ssl_inspection/unsupported">Unsupported</a></li>								
						</ul>
                    </nav>

			<div id="guide">
						<p><strong>If you have a device that does not fall under one of the categories located on the page menus above, you will need to figure out how to install the certificate on your own device. We do not support any devices outside of the ones listed on the page menus. You may download our certificate below.</strong></p>
                        
            			<div class="buttons">
							<p>
                    			<a href="WebbCity-Edge.cer" id="download-button" class="btn buttons">Download Certificate</a>
                			</p>
        				</div>
                        
                        <p>
                        	<strong>Windows phones and Linux devices are included in the devices that will need a browser certificate.</strong>
                        </p>

        				<p>
                        	<strong>Please <b><u>check back periodically</u></b> on this webpage for new and updated browser certificates for your unsupported device. These browser certificates will help allow full device functionality with our network.</strong>
                        </p>   
					</div>                     
                    
	<a href='#top'>Back to Top</a>

                </div>
			</div>
		</div>
[% INCLUDE ssl_inspection/common.html %]
	</body>
